fo(data-scroll-spy class="footer section container" id="contactanos")
    h2.h1 Contactanos
    .footer__content
        .footer__number.footer__section
            h2.footer__tittle Celular
            .footer__section-content
                a(class="footer__link" href="https://wa.me/3127857576")
                    <svg class="footer__link-svg"><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
                    p= whatsappNumber

        .footer__social-media.footer__section
            h2.footer__tittle Siguenos en Facebook
            .footer__section-content.footer__social-media-links
                //- a(class="footer__link" href="https://www.instagram.com/")
                //-     <svg><use href="galery/icon/icons.svg#instagram-icon"/></svg>
                a(class="footer__contact-link footer__link" href="https://m.facebook.com/Lagosdepescaeljaneiro")
                    <svg class="footer__link-svg"><use href="galery/icon/icons.svg#facebook-icon"/></svg>
                    p Lagos de Pesca el Janeiro

        .footer__mail.footer__section
            h2.footer__tittle Escribenos al correo 
            .footer__section-content
                a(class="footer__link" href="mailto:danielboteroarias@gmail.com")
                    span(class="material-icons-round footer__mail-icon") mail
                    p.footer__mail-link-text lagosdepescaeljaneiro#[wbr]@gmail
    .footer__logo-ceo-alg
        spam Desarrollado por:
        img(src="./galery/logo ceo alg/logo ceo alg.svg", class="logo-ceo-alg" alt="logo de Ceo Alg")


