.footer#footer.container
    .footer__content
        .footer__number.footer__seccion
            h2.footer__tittle Fabrica
            a(class="footer__link" href="")
                <svg ><use href="galery/icon/icons.svg#whatsapp-icon"/></svg>
                p= whatsappNumberFactory

        .footer__social-media.footer__seccion
            h2.footer__tittle Siguenos en redes
            .footer__social-media-links
                a(class="footer__link" href="")
                    <svg><use href="galery/icon/icons.svg#instagram-icon"/></svg>
                a(class="footer__contact-link footer__link" href="")
                    <svg><use href="galery/icon/icons.svg#facebook-icon"/></svg>

        .footer__mail.footer__seccion
            h2.footer__tittle Escribenos al correo 
            a(class="footer__link")
                span(class="material-icons-round footer__mail-icon") mail
                p.footer__mail-link-text julioforrospereira#[wbr]@gmail
    .footer__logo-ceo-alg
        spam Desarrollado por:
        img(src="./galery/logo ceo alg/logo ceo alg.svg", alt="logo de Ceo Alg")


