.top-header.container
    .top-header__images
        img(src="galery/images/300/1.webp" class="top-header__image top-header__image--1" alt="Zona de comidas")
        img(src="galery/images/300/2.webp" class="top-header__image top-header__image--2" alt="Deliciso almuerzo de pescado")
        img(src="galery/images/300/3.webp" class="top-header__image top-header__image--3" alt="Hermosa vista")
    