.top-header.container
    .top-header__images
        img(src="galery/images/300/01.webp" class="top-header__image top-header__image--1" alt="Zona de comidas" width="300" height="auto") 
        img(src="galery/images/300/02.webp" class="top-header__image top-header__image--2" alt="Deliciso almuerzo de pescado" width="300" height="auto") 
        img(src="galery/images/300/03.webp" class="top-header__image top-header__image--3" alt="Hermosa vista" width="300" height="auto") 
    