body {
    background-image: url(../galery/background/background.webp);
}

.main {
    background-color: antiquewhite;
    overflow: hidden;

    .slider-top-container {
        padding-top: var(--space-1);
        width: 100%;

        .slider-top {
            --column: 2;

            @include min-width(600px) {
                --column: 3;
            }

            @include min-width(1000px) {
                --column: 4;
            }

            .slider-top__slides {
                .slider-top__slide {
                    position: relative;
                    // padding-top: 62.5%;
                    width: 100%;

                    img {
                        aspect-ratio: 16/10;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .activities {
        width: 100%;
        padding: var(--space-1) var(--space-5);
        @extend .flex-center, .flex-column;

        .activities__tittle {
            margin-bottom: var(--space-2);
            text-align: center;
            color: var(--color-primary-700);
            position: relative;
            display: inline-block;

            &::after, &::before {
                content: '';
                position: absolute;
                width: 120px;
                height: 3px;
                background-color: currentcolor;
                top: 55%;
              }
              &::after {
                left: -140px;
              }
              &::before {
                right: -140px;
              }

        }

        .activities__cards {
            display: flex;
            gap: var(--space-5);
            flex-wrap: wrap;

            .activities__card {
                @extend .flex-center,
                .flex-column;
                display: flex;
                flex-direction: column;
                gap: var(--space-6);
                background-color: var(--color-primary-400);
                background-image: linear-gradient(40deg, var(--color-primary-500) 30%, var(--color-primary-400) 75%, var(--color-primary-400));
                padding: var(--space-5);
                min-width: 100%;
                transition: background-image .3s ease-in;
                user-select: none;
                color: #fff;

                &:hover {
                    background-image: linear-gradient(40deg, var(--color-primary-600) 30%, var(--color-primary-400) 75%, var(--color-primary-400));

                    .activities__card-button {
                        a {
                            background-color: var(--color-primary-400);
                        }
                    }
                }

                @include min-width(700px) {
                    min-width: calc((100% / 2 - 12px));
                }

                @include min-width(1000px) {
                    min-width: calc((100% / 3) - (var(--space-6)));
                }

                .activities__card-text {
                    @extend .flex-center,
                    .flex-column;
                    gap: var(--space-7);
                    
                    .activities__card-p,
                    .activities__card-tittle {
                        text-align: center;
                    }
                }

                .activities__card-button {
                    a {
                        color: #fff;
                        border: 1px solid white;

                        &:hover {
                            color: var(--color-primary-500);
                            background-color: #fff;


                        }
                    }
                }

            }
        }
    }

    .print-data {
        .print-data__cards {
            display: flex;
            flex-direction: column;
            gap: var(--space-4);

            .print-data__card {
                user-select: none;
                overflow: hidden;
                display: flex;
                flex-direction: column-reverse;

                .print-data__text {
                    padding: var(--space-6);
                    @extend .flex-center,
                    .flex-column;
                    gap: var(--space-7);
                    text-align: center;
                    font-family: 'tittle';
                    transition: background-image .3s ease;
                    background-image: linear-gradient(40deg, var(--color-primary-500) 30%, var(--color-primary-400) 75%, var(--color-primary-400));
                    // background-color: var(--color-primary-400);
                    color: #fff;

                    .print-data__tittle {
                        margin: 0;
                    }
                }

                .print-data__img-container {
                    overflow: hidden;
                    max-height: 344px;

                    .print-data__img {
                        filter: grayscale(30%);
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: transform .3s ease, filter .3s ease;
                    }
                }

                @include min-width(690px) {
                    flex-direction: row;

                    .print-data__text {
                        width: 45%;

                    }

                    .print-data__img-container {
                        width: 55%;
                    }

                }

                &:hover {
                    .print-data__img-container {
                        .print-data__img {
                            filter: grayscale(0%);
                            transform: scale(1.05);
                        }
                    }

                    .print-data__text {
                        background-image: linear-gradient(40deg, var(--color-primary-600) 30%, var(--color-primary-400) 75%, var(--color-primary-400));
                    }

                }
            }
        }
    }
}