body {
    background-image: url(../galery/background/background.webp);

    ::selection {
        color: var(--color-primary-900);
        background-color: var(--color-primary-100);
    }
}


.main {
    overflow: hidden;
    padding: 0;
    background-color: var(--color-background-primary);


    .logo {
        @extend .flex-center;
        flex-direction: column;
        gap: var(--space-2);
        padding: 68px 0;

        &:hover {

            .logo__text,
            .logo__img {
                transform: scale(1.03);
            }
        }

        .logo__text,
        .logo__img {
            transition: transform .4s ease-in-out;
            @extend .aparecer;

        }

        .logo__text {
            gap: 8px;
            flex-direction: column;
            display: none;

            @include min-width(500px) {
                display: flex;
            }

            .logo__tittle {
                margin-bottom: 0;
            }

            .logo__p {
                font-family: 'p';
                font-size: 24px;
                color: var(--color-primary-600);
            }
        }

        .logo__img {
            max-width: 220px;
        }


        @include min-width(500px) {
            flex-direction: row;

            div {
                display: flex;
            }

        }

    }

    .slider-top-container {
        width: 100%;
        padding: 0;

        .slider-top {
            --column: 1;

            @include min-width(600px) {
                --column: 3;
            }

            @include min-width(1000px) {
                --column: 4;
            }

            .slider-top__slides {
                .slider-top__slide {
                    position: relative;
                    width: 100%;

                    img {
                        aspect-ratio: 16/9;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .activities {
        background-color: var(--color-background-secondary);
        width: 100%;
        @extend .flex-center,
        .flex-column;
        padding-top: 84px;



        .activities__cards {
            display: flex;
            gap: var(--space-5);
            flex-wrap: wrap;

            .activities__card {
                @extend .flex-center,
                .flex-column,
                .background-gradient;
                display: flex;
                flex-direction: column;
                gap: var(--space-6);
                padding: var(--space-5);
                min-width: 100%;
                transition: transform .3s ease;
                user-select: none;
                color: #fff;

                &:hover {
                    transform: scale(1.02);
                    .activities__card-button {
                        a {
                            background-color: var(--color-primary-400);
                        }
                    }
                }

                @include min-width(700px) {
                    min-width: calc((100% / 2 - 12px));
                }

                @include min-width(1000px) {
                    min-width: calc((100% / 3) - (var(--space-6)));
                }

                .activities__card-text {
                    @extend .flex-center,
                    .flex-column;
                    gap: var(--space-7);

                    .activities__card-p,
                    .activities__card-tittle {
                        text-align: center;
                    }
                }

                .activities__card-button {
                    a {
                        color: #fff;
                        border: 1px solid white;

                        &:hover {
                            color: var(--color-primary-500);
                            background-color: #fff;


                        }
                    }
                }

            }
        }
    }

    .print-data {
        height: auto;
        background-color: var(--color-background-secondary);
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        .print-data__card{
            user-select: none;
            overflow: hidden;
            display: flex;
            flex-direction: column-reverse;

            .print-data__text {
                padding: var(--space-3);
                @extend .flex-center,
                .flex-column,
                .background-gradient;
                gap: var(--space-7);
                text-align: center;
                font-family: 'tittle';
                color: #fff;
                transition: transform .3s ease-in-out, filter .3s ease;

                .print-data__tittle {
                    margin: 0;
                }
            }

            .print-data__img-container {
                overflow: hidden;
                max-height: 320px;

                .print-data__img {
                    filter: grayscale(30%);
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: transform .3s ease, filter .3s ease;
                }
            }

            @include min-width(690px) {
                flex-direction: row;

                .print-data__text {
                    width: 45%;

                }

                .print-data__img-container {
                    width: 55%;
                }

            }

            &:hover {
                .print-data__img-container {
                    .print-data__img {
                        transform: scale(1.04);
                        filter: grayscale(0%);
                    }
                }

                .print-data__text {
                    transform: scale(1.05);
                    background-image: linear-gradient(40deg, var(--color-primary-600) 30%, var(--color-primary-400) 75%, var(--color-primary-300));
                }

            }
        }
    }

    .location {
        padding-top: 84px;
        padding-bottom: 84px;
        @extend .flex-center,
        .flex-column;
        &:hover{
            @media (hover: hover){
                .location__transport{
                    transform: scale(1.02);
                }
            }
        }

        .location__content {
            width: 100%;
            @extend .flex-center;
            gap: var(--space-1);
            flex-direction: column;

            @include min-width(700px) {
                flex-direction: row;
            }

            .location__transport {
                padding-left: var(--space-3);
                display: flex;
                flex-direction: column;
                gap: var(--space-6);
                transition: transform .4s ease-in-out;

                .location__transport-tittle {
                    color: var(--color-primary-700);
                }
                .location__transport-buttom{
                    display: flex;
                    align-items: center;
                    gap: 8px;              
                    &::before{
                        @extend .material-icons-round;
                        content: '\ea9c';
                        color: #fff;
                    }

                }

            }

            .location__map-container {
                width: 100%;

                @include min-width(700px) {
                    min-width: 60%;
                    max-width: 60%;
                }

                .location__map {
                    width: 100%;
                    height: 200px;

                    @include min-width(700px) {
                        height: 280px;
                        flex-direction: row;
                    }

                }

                .location__adress-container {
                    padding: var(--space-6);
                    background-color: var(--color-primary-500);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 8px;              
                    &::before{
                        @extend .material-icons-round;
                        content: '\e0c8';
                    }
                }
            }
        }
    }
}