@media (prefers-color-scheme: dark) {
    .body {
        // * Primary
        --color-primary-100: #EF9C86;
        --color-primary-200: #ED8C72;
        --color-primary-300: #EA7B5E;
        --color-primary-400: #E86B4A;
        --color-primary-500: #E55A36;
        --color-primary-600: #E2461D;
        --color-primary-700: #C83E1A;
        --color-primary-800: #AF3617;
        --color-primary-900: #962E13;

        // * Neutral
        --color-neutral-100: #365671;
        --color-neutral-200: #32516A;
        --color-neutral-300: #2F4B63;
        --color-neutral-400: #2B465B;
        --color-neutral-500: #284054;
        --color-neutral-600: #243B4D;
        --color-neutral-700: #213546;
        --color-neutral-800: #1D303E;
        --color-neutral-900: #1A2A37;


        --color-background: #16222C;
        --color-text: #FEFEFE;


        // * Project
        // ? elements that change color according to mode
        --color-buttons-navegation: #1A2A37;
        --color-icons: #DEDEDE;
        --color-logo: #FEFEFE;
        --color-search-bar: #1A2A37;

    }

    .light-mode {
        // * Primary
        --color-primary-100: #EF927B;
        --color-primary-200: #ED8065;
        --color-primary-300: #EA6E4F;
        --color-primary-400: #E85C39;
        --color-primary-500: #E54A23;
        --color-primary-600: #D43F19;
        --color-primary-700: #BD3816;
        --color-primary-800: #A53114;
        --color-primary-900: #8E2A11;

        // * Neutral
        --color-neutral-100: #959595;
        --color-neutral-200: #848484;
        --color-neutral-300: #727272;
        --color-neutral-400: #616161;
        --color-neutral-500: #4F4F4F;
        --color-neutral-600: #474747;
        --color-neutral-700: #3F3F3F;
        --color-neutral-800: #373737;
        --color-neutral-900: #2F2F2F;


        --color-buttons-navegation: #FEFEFE;
        --color-background: #FEFEFE;
        --color-white: #FEFEFE;
        --color-text: #020202;

        // * Project
        // ? elements that change color according to mode
        --color-buttons-navegation: #FEFEFE;
        --color-icons: #4F4F4F;
        --color-logo: #2F2F2F;
        --color-search-bar: #FEFEFE;
    
    }
}