.my-slider {
    --column: 1;
    --row: 1;
    position: relative;

    .my-slider__slides {
        display: grid;
        grid-auto-columns: calc(100% / var(--column));
        grid-template-rows: repeat(var(--row), auto);
        grid-auto-flow: column;
        cursor: grab;
        transform: translateX(0);
        transition: transform .3s ease-out;

        .my-slider__slide {
            user-select: none;
        }

    }

    .my-slider__navegation {
        .my-slider__navegation-button {
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #e337029d;
            transition: opacity .5s ease-in-out, background-color .3s ease;
            overflow: hidden;
            opacity: 1;

            &::after {
                font-family: "material-icons-round";
                transition: transform .3s ease;
                @extend .flex-center;
                height: 100%;
                color: #fff;
                font-size: 40px;

            }

            &::before {
                content: " ";
                opacity: 0;
                @extend .position-absolute;
                transition: opacity .3s ease;
                background-color: #b62c0269;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }

                &::after {
                    transform: scale(1.1);
                }
            }

            &:active {
                &::after {
                    transform: scale(1.1);
                }

            }

        }

        .my-slider__navegation-button--back {
            left: 0;

            &::after {
                content: "\e5e0";
            }
        }

        .my-slider__navegation-button--next {
            right: 0;

            &::after {
                content: "\e5e1";
            }

        }
        .my-slider__navegation-button--opacity-none{
            opacity: 0;
        }
    }
}

// .my-slider {
//     --column: 1;
//     --row: 1;
//     @extend .flex-center;
//     position: relative;

//     .my-slider__navegation {
//         display: grid;
//         grid-auto-flow: column;
//         gap: var(--space-7);
//         align-items: center;

//         .my-slider__navegation-button {
//             cursor: pointer;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             background-color: #e337029d;
//             transition: background-color .3s;
//             overflow: hidden;


//             &::after {
//                 font-family: "material-icons-round";
//                 transition: transform .3s ease;
//                 @extend .flex-center;
//                 height: 100%;
//                 color: #fff;
//                 font-size: 40px;

//             }
//             &::before{
//                 content: " ";
//                 opacity: 0;
//                 @extend .position-absolute;
//                 transition: opacity .3s ease;
//                 background-color: #b62c0269;
//             }

//             &:hover {
//                 &::before{
//                     opacity: 1;
//                 }

//                 &::after {
//                     transform: scale(1.1);
//                 }
//             }

//             &:active {
//                 &::after {
//                     transform: scale(1.1);
//                 }

//             }
//         }


//     }
// }

// .my-slider__container-slides {
//     position: relative;
//     overflow: hidden;


// }


// .my-slider__container-slides--before-hiden {
//     &::before {
//         opacity: 0;
//     }
// }

// .my-slider__slides {
//     user-select: none;
//     position: relative;
//     scroll-behavior: smooth;
//     overflow-x: scroll;
//     @extend .scrollbar-none;
//     scroll-snap-type: x mandatory;
//     // scroll-snap-type: x proximity;
//     display: grid;
//     grid-auto-columns: calc(100% / var(--column));
//     grid-template-rows: repeat(var(--row), auto);
//     grid-auto-flow: column;

//     &:hover {
//         cursor: grab;
//     }

//     .my-slider__slide {
//         scroll-snap-align: start;
//         overflow: hidden;
//         pointer-events: none;
//         line-height: 0;
//     }
// }