extends ./templates/template.pug
block head
    //- link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header




block main
    .slider-top-container.seccion
        .slider-top.my-slider
            .my-slider__container-slides
                .slider-top__slides.my-slider__slides
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/4.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/5.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/6.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/7.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/8.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/9.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/4.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
                    .slider-top__slide.my-slider__slide
                        img(src="galery/images/500/5.webp" class="top-header__image top-header__image--1" loading="loazy" alt="Zona de comidas")
            .slider-top.my-slider__navegation
                .slider-top-button.slider-top__navegation-button--back.my-slider__navegation-button.my-slider__navegation-button--back
                .slider-top-button.slider-top__navegation-button--next.my-slider__navegation-button.my-slider__navegation-button--next

    .activities.seccion
        h2.h2.activities__tittle Disfruta de:
        .activities__cards 
            .activities__card
                .activities__card-text
                    h3.h3.activities__card-tittle Restaurante 
                    p.p.activities__card-p Prueba nuestros deliciosos platos
                .activities__card-button 
                    a(src="#" class="mybtn mybtn--outline") Ver más
            .activities__card
                .activities__card-text
                    h3.h3.activities__card-tittle Bar
                    p.p.activities__card-p Prueba nuestros deliciosos platos
                .activities__card-button 
                    a(src="#" class="mybtn mybtn--outline") Ver más
            .activities__card
                .activities__card-text
                    h3.h3.activities__card-tittle Pesca Deportiva
                    p.p.activities__card-p Prueba nuestros deliciosos platos
                .activities__card-button 
                    a(src="#" class="mybtn mybtn--outline") Ver más
            .activities__card
                .activities__card-text
                    h3.h3.activities__card-tittle Zona Infantil
                    p.p.activities__card-p Prueba nuestros deliciosos platos
                .activities__card-button 
                    a(src="#" class="mybtn mybtn--outline") Ver más
            .activities__card
                .activities__card-text
                    h3.h3.activities__card-tittle Charco de agua natural
                    p.p.activities__card-p Prueba nuestros deliciosos platos
                .activities__card-button 
                    a(src="#" class="mybtn mybtn--outline") Ver más

    .print-data.seccion
        .print-data__cards 
            .print-data__card
                .print-data__text 
                    h3.h1.print-data__tittle ¡Son Bienvenidos! 
                    span.h3 todos los integrantes de tu familia
                .print-data__img-container
                    img(src="./galery/images/720/mascotas.webp" class="print-data__img")
            .print-data__card
                .print-data__text 
                    h3.h1.print-data__tittle ¡Tenemos servicio de transporte!
                .print-data__img-container
                    img(src="./galery/images/720/transporte.webp" class="print-data__img")









