extends ./templates/template.pug
block head
    //- link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header

        

            
    


block main
    h1 hola mundo

    







