extends ./templates/template.pug
block head
    //- link(rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block header



block main
    section.logo.section.container
        img(class="logo__img" src="./galery/logo/logo.webp" width="220" height="262" alt="logo de Lagos de Pesca El Janeiro")
        .logo__text
            h1.logo__tittle.h1 Lagos de Pesca El Janeiro
            p.logo__p El lugar que estás buscando


    section.slider-top-container.container
        .slider-top.my-slider
            .slider-top__slides.my-slider__slides
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/1.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/2.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/3.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/4.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/5.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/6.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/7.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
                .slider-top__slide.my-slider__slide
                    img(src="galery/images/400/8.webp" class="slider-top__slide-img slider-top__slide-img--1" loading="lazy" alt="Zona de comidas")
            .slider-top.my-slider__navegation
                .slider-top-button.slider-top__navegation-button--back.my-slider__navegation-button.my-slider__navegation-button--back.my-slider__navegation-button--opacity-none
                .slider-top-button.slider-top__navegation-button--next.my-slider__navegation-button.my-slider__navegation-button--next


    section(data-scroll-spy class="activities section container" id="actividades")
        h2.h2.tittle.activities__tittle Disfruta de:
        .activities__cards 
            .activities__card
                .activities__card-image-container
                    picture 
                        source(srcset="galery/images/720/restaurante.webp" media="(min-width: 600px)")
                        img(src="galery/images/300/restaurante.webp" class="activities__card-image" loading="lazy" alt="Zona de comidas")
                .activities__card-data
                    .activities__card-text
                        h3.h3.activities__card-tittle Restaurante 
                        p.p.activities__card-p Prueba nuestros deliciosos platos
                    .activities__card-button-container
                        buttom(class="activities__card-button mybtn mybtn--outline") Ver carta
            .activities__card
                .activities__card-image-container
                    picture 
                        source(srcset="galery/images/720/bar.webp" media="(min-width: 600px)")
                        img(src="galery/images/300/bar.webp" class="activities__card-image" loading="lazy" alt="Zona de comidas")
                .activities__card-data
                    .activities__card-text
                        h3.h3.activities__card-tittle Bar
                        p.p.activities__card-p Prueba nuestros deliciosos platos
                    .activities__card-button-container
                        buttom(class="activities__card-button mybtn mybtn--outline") Ver carta
            .activities__card
                .activities__card-image-container
                    picture 
                        source(srcset="galery/images/720/pesca.webp" media="(min-width: 600px)")
                        img(src="galery/images/300/pesca.webp" class="activities__card-image" loading="lazy" alt="Zona de comidas")
                .activities__card-data
                    .activities__card-text
                        h3.h3.activities__card-tittle Lago de Pesca
                        p.p.activities__card-p Prueba nuestros deliciosos platos
                    .activities__card-button-container
                        buttom(class="activities__card-button mybtn mybtn--outline") Ver fotos
            .activities__card
                .activities__card-image-container
                    picture 
                        source(srcset="galery/images/720/charco.webp" media="(min-width: 600px)")
                        img(src="galery/images/300/charco.webp" class="activities__card-image" loading="lazy" alt="Zona de comidas")
                .activities__card-data
                    .activities__card-text
                        h3.h3.activities__card-tittle Charco de agua natural
                        p.p.activities__card-p Prueba nuestros deliciosos platos
                    .activities__card-button-container
                        buttom(class="activities__card-button mybtn mybtn--outline") Ver fotos
            .activities__card
                .activities__card-image-container
                    picture 
                        source(srcset="galery/images/720/zona.webp" media="(min-width: 600px)")
                        img(src="galery/images/300/zona infantil.webp" class="activities__card-image" loading="lazy" alt="Zona de comidas")
                .activities__card-data
                    .activities__card-text
                        h3.h3.activities__card-tittle Zona Infantil
                        p.p.activities__card-p Prueba nuestros deliciosos platos
                    .activities__card-button-container
                        buttom(class="activities__card-button mybtn mybtn--outline") Ver fotos
                

    section.print-data.section.container
        h2.h1.tittle.print-data__tittle Buenas noticias
        .print-data__card
            .print-data__text 
                h3.h1.print-data__tittle-text ¡Son Bienvenidos! 
                span.h3 todos los integrantes de tu familia
            .print-data__img-container
                img(src="./galery/images/720/mascotas.webp" loading="lazy" class="print-data__img" alt="se aceptan mascotas")
    section(class="location section container" id="ubicacion" data-scroll-spy)
        h2.h1.tittle Como llegar 
        .location__content
            .location__transport 
                h3.location__transport-tittle.h2 Tenemos servicio de transporte 
                p.location__transport-p.p comunicate con nosotros para más información 
                a(href="https://wa.me/3127857576" class="location__transport-buttom mybtn") WhatsApp
            .location__map-container
                <iframe tittle="mapa ubicación" class="location__map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15902.994511627587!2d-75.70225625!3d4.81316865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1652415829859!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                .location__adress-container
                    address.location__adress Vereda las Mercedes - Bitania Ant









