.escalar-pequeño{
    animation: escalar-pequeño .7s;
}
.escalar-grande{
    animation: escalar-grande .8s;
}
.transformacion{
    animation: transformacion 1s;
}
.aparecer{
    animation: aparecer 1s ease;
}
.aparecer-bajo{
    animation: aparecer-bajo .8s;
}
.img1Totoro{
    animation: img1Totoro 1.5s;
}
.opacidad{
    animation: opacidad .7s;
}

// * animacion para imagenes de rombo a circulo
.rombo{
	-webkit-clip-path: polygon(50% 0% , 100% 50%, 50% 100%, 0% 50%);
	-o-clip-path: polygon(50% 0% , 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0% , 100% 50%, 50% 100%, 0% 50%);
    border-radius: 50%;
	@extend .t1s;
	&:hover{
		clip-path: polygon(100% 0% , 100% 100%, 0% 100% , 0% 0%);
    }
}
.t1s{
    transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
}
// .translate-sobre-ghibli{
//     transition: 1s transform ease-in-out;
//     transform: translateX(100%);
// }

@keyframes img1Totoro {
    0% {
        // transform: scale(0);
        opacity: .5;
        transform: scale(.1) ;
    }
    100% {
        // transform: scale(1);
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

@keyframes escalar-pequeño {
    0% {
        
        transform: scale(1) ;
    }
    50% {
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes escalar-grande {
    0% {
        
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes opacidad {
    0% {
        // transform: scale(.5);
        opacity: 0;
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}
@keyframes opacity_scale {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes transformacion {
    0% {
        transform: scale(.8);
        opacity: .3;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes aparecer {
    0% {
        transform: translateY(20%) scale(1);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}
@keyframes aparecer-bajo{
    0% {
        transform: scale(.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
