.button-effect{
    transition: color .5s ease;
    cursor: pointer;
    user-select: none;
    &:hover{
        color: var(--color-tertiary-hover);
    }
}
.button-effect-scale{
    transition: color .5s ease, transform .5s ease;
    cursor: pointer;
    user-select: none;
    &:hover{
        transform: scale(1.05);
        color: var(--color-tertiary-hover);
    }
    &:active{
        transform: scale(.95);
    }
}


// TODO:ANCHOR --- SCROLLBAR


.scrollbar-none {
    overflow-y: scroll;
    // * para mozilla
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

}

.scrollbar-style{
    &::-webkit-scrollbar {
        width: 7px;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 20px;
        
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary-500);
        border-radius: 3px;
    }

}

// TODO:ANCHOR --- BACKGROUND

.background-parallax{
    background-attachment: fixed;
    max-width: 100%;
    background-repeat: no-repeat;
}

.background-pseudo-element {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



//  TODO:ANCHOR --- POSITIONING


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.align-start{
    display: flex;
    align-items: flex-start;
}
.align-center{
    display: flex;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-evenly{
    display: flex;
    justify-content: space-evenly;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
.position-absolute{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.position-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// .overflow-hidden{
//     overflow: hidden;
// }
// .height-width{
//     width: 100%;
//     height: 100%;
// }
// .height-vh-width{
//     width: 100%;
//     height: 100vh;
// }